@import url("../css/common.css");



/*main*/
main .inner {
    width: 1180px;
}

.organization li.orgTitle{
    margin: 0 auto;
    width: 300px;
    height: 65px;
    text-align: center;
    line-height: 65px;
    background: #F27127;
    border-radius: 10px;
}
.organization li.orgTitle a{
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 8px;
    color: #fff;
}

.organization li.orgMiddle{
    margin: 50px 0;
}

.organization li ul{
    display: flex;
    gap: 30px;
}
.organization li ul li.office{
    width: 150px;
}
.organization li ul li.office a{
    display: block;
    width: 150px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    font-size: 20px;
    background: #E9EFF8;
    border: 1px solid #003F98;
    box-sizing: border-box;
}
.organization li ul li.office ul{
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(217, 217, 217, 0.87);
    box-sizing: border-box;
}