@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css'); /*xe아이콘*/

/*header*/
header{
    /*display: none;*/
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 9999;
    background: #F0ECE8;
    border-bottom: 2px solid black;
}

header .headerWrap{
    position: relative;
    height: 80px;
    text-align: center;
    /*color: white;*/
}

header .headerWrap .hamburger {
    position: absolute;
    /*display: none;*/
    top: 50%;
    left: 60px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
}
header .headerWrap .hamburger span{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
}
header .headerWrap .hamburger span:first-child{
    top: 0;
}
header .headerWrap .hamburger span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
header .headerWrap .hamburger span:last-child{
    bottom: 0;
}

/*hamburger 버튼 on*/
header .headerWrap .hamburger.on span:first-child{
    top: 0;
    transform: rotate(45deg);
}
header .headerWrap .hamburger.on span:nth-child(2){
    opacity: 0;
}
header .headerWrap .hamburger.on span:last-child{
    bottom: 0;
    transform: rotate(-45deg);
}

header .headerWrap .logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    text-transform: uppercase;
    color: black;
}
header .headerWrap .logo a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 20px;
}
header .headerWrap .logo a span{
    margin-right: 22px;
}
header .headerWrap .logo a span:nth-child(3),
header .headerWrap .logo a span:nth-child(7){
    margin-right: 0;
}

header .headerWrap p{
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    font-size: 20px;
    text-transform: uppercase;
}



/*----------------------삭제 혹은 수정-----------------------*/
header .headerWrap nav{
    /*width: 70%;*/
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    font-size: 1rem;
}
header .headerWrap nav .gnb{
    font-size: 0;
    height: 100%;
}
header .headerWrap nav .gnb li{
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0 30px;
    line-height: 80px;
}
header .headerWrap nav .gnb li a {}
header .headerWrap nav .gnb li a img{
    width: 0.8rem;
    height: 0.8rem;
    /*width: 13px;*/
    /*height: 13px;*/
}
/*----------------------삭제 혹은 수정-----------------------*/



/*footer*/
.footer{
    background: black;
    height: 100px;
    text-transform: uppercase;
    color: white;
}
.footer div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px 0 60px;
}
.footer h1{
    font-size: 36px;
    font-weight: bold;
    line-height: 100px;
}
.footer p{
    font-size: 20px;
    font-weight: normal;
    line-height: 100px;
}

.footer .footerTextRolling{
    font-size: 1.6rem;
    line-height: 80px;
    color: #FE6C3B;
    text-transform: uppercase;
    white-space: nowrap;
    animation: textRolling 8s linear infinite;
}
.footer .footerTextRolling p{
}
@keyframes textRolling {
    0%{
        transform: translateX(-90%);
    }
    100%{
        transform: translateX(+100%);
    }
}
.footer .text{
    height: 20px;
    text-align: center;
    line-height: 20px;
}

/*반응형 미디어쿼리*/
@media (max-width: 768px) { /* tablet 반응형 */
    html{font-size: 14px;}

    header .headerWrap .logo{
        left: 10px;
    }
    header .headerWrap nav .gnb{
        display: flex;
        justify-content: space-between;
    }
    header .headerWrap nav .gnb li{
        font-size: 1rem;
        padding: 0;
    }

    header .headerWrap .darkMode{
        right: 10px;
    }
}
@media (max-width: 430px) { /*mobile 반응형*/
    html{font-size: 12px;}

    /*header*/
    header .headerWrap{
        height: 50px;
        border: 5px solid white;
    }
    header .headerWrap .logo{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    header .headerWrap nav .gnb{
        display: none;
    }
    header .headerWrap .darkMode {
        right: 50px;
    }
    /*header .headerWrap .hamburger {*/
    /*    display: block;*/
    /*}*/

    /*footer*/
    .footer .footerTextRolling{
        line-height: 55px;
    }
}