@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

/*header*/
header{
    /*display: none;*/
    position: fixed;
    width: 100%;
    transition: 0.5s;
    z-index: 9999;
    background: black;
    /*border: 5px solid red;*/
    /*box-sizing: border-box;*/
}
header .headerWrap{
    position: relative;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: white;
}
header .headerWrap h1{
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
}
header .headerWrap h1 a{
    display: inline-block;
    width: 55px;
    height: 25px;

    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 100% auto;
}

header .headerWrap nav{}
header .headerWrap nav .gnb{
    font-size: 0;
}
header .headerWrap nav .gnb li{
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    margin-right: 110px;
}
header .headerWrap nav .gnb li:last-child{
    margin-right: 0;
}
header .headerWrap nav .gnb li a {}
header .headerWrap nav .gnb li a img{
    width: 13px;
    height: 13px;
}

header .headerWrap .darkMode{
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
} /*다크모드하는법 : 바디태그에 클래스를 주고 색상 내용 바꿔준다음 toggleClass 로 온오프*/

.headerWrap .toggleSwitch {
    width: 50px;
    height: 20px;
    display: inline-block;
    position: relative;
    border-radius: 30px;
    background-color: #fff;
    box-shadow: 0 0 16px 3px rgba(0 0 0 / 15%);
    cursor: pointer;
}

/* 토글 버튼 */
.headerWrap .toggleSwitch .toggleButton {
    /* 버튼은 토글보다 작아야함  */
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 4px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: orangered;
}

/* 체크박스가 체크되면 변경 이벤트 */
#toggle:checked ~ .toggleSwitch {
    background: orangered;
}

#toggle:checked ~ .toggleSwitch .toggleButton {
    left: calc(100% - 19px);
    background: #fff;
}

.toggleSwitch, .toggleButton {
    transition: all 0.3s ease-in;
}

header .headerWrap .hamburger {
    position: absolute;
    display: none;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 24px;
    height: 20px;
    /*border: 1px solid yellow;*/
}
header .headerWrap .hamburger span{
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #fff;
}
header .headerWrap .hamburger span:first-child{
    top: 0;
}
header .headerWrap .hamburger span:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
header .headerWrap .hamburger span:last-child{
    bottom: 0;
}

/*hamburger버튼 on*/
header .headerWrap .hamburger.on span:first-child{
    top: 0;
    transform: rotate(45deg);
}
header .headerWrap .hamburger.on span:nth-child(2){
    opacity: 0;
}
header .headerWrap .hamburger.on span:last-child{
    bottom: 0;
    transform: rotate(-45deg);
}

/*hover*/
header.on{
    background: white;
    color: black;
}

header.on .headerWrap nav .gnb li a img{
    width: 13px;
    height: 13px;
}

/*footer*/
.footer{
    background: black;
    height: 100px;
    color: white;
    overflow: hidden;
}
.footer .footerTextRolling{
    font-size: 1.9vw;
    line-height: 80px;
    color: #FE6C3B;
    text-transform: uppercase;
    white-space: nowrap;
    animation: textRolling 8s linear infinite;
}
.footer .footerTextRolling p{
}
@keyframes textRolling {
    0%{
        transform: translateX(-90%);
    }
    100%{
        transform: translateX(+100%);
    }
}
.footer .text{
    height: 20px;
    text-align: center;
    line-height: 20px;
}


@media (max-width: 768px) {
    header .headerWrap h1{
        left: 10px;
    }
    header .headerWrap .darkMode{
        right: 10px;
    }
}
@media (max-width: 430px) {
    /*header*/
    header .headerWrap{
        height: 50px;
    }
    header .headerWrap .gnb{
        display: none;
    }
    header .headerWrap .darkMode {
        right: 50px;
    }
    header .headerWrap .hamburger {
        display: block;
    }

    /*footer*/
    .footer .footerTextRolling{
        line-height: 55px;
    }
}