@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');*/
/*font-family:'Playfair Display',serif;*/
/*영문 명조 디스플레이*/
@font-face {
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
    font-family:'Playfair Display',serif;
}

@font-face {
    src: url("../fonts/NanumMyeongjo.ttf");
    font-style: normal;
    font-weight: normal;
    font-family: 'NanumMyeongjo', serif;
}
/*영문 명조 본문*/

@font-face {
    src: url("../fonts/NanumSquareL.ttf");
    font-style: normal;
    font-weight: normal;
    font-family: 'NanumSquare', sans-serif;
}
/*영문 고딕*/


@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*한글 고딕*/

/* <uniquifier>: Use a unique and descriptive class name */
/* <weight>: Use a value from 100 to 900 */

.noto-sans-italic {
                font-family: "Noto Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 900;
                font-style: italic;
                font-variation-settings:
                        "wdth" 100;
            }
.noto-sans-medium {
                font-family: "Noto Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 500;
                font-style: normal;
                font-variation-settings:
                        "wdth" 100;
            }