@import url(common.css);

body{
    background: #F0ECE8;
    font-family: 'GmarketSansMedium', sans-serif;
}
a { text-decoration: none; color: inherit; font-family: inherit; }
.inner { width: 1170px; margin: 0 auto;
    /*overflow: hidden; */
}

/*follow cursor 이벤트*/
/*.followCursor{*/
/*    position: fixed;*/
/*    left: 0;*/
/*    top: 0;*/
/*    transform: translate(-50%, -50%);*/
/*    width: 20px;*/
/*    height: 20px;*/
/*    border-radius: 50%;*/
/*    background: #ff4500;*/
/*    transition: 120ms;*/
/*    mix-blend-mode: difference;*/
/*    pointer-events: none;*/
/*    z-index: 9999;*/
/*}*/

/*main*/
section{ margin-bottom: 50px; overflow: hidden;}


/*visual section*/
.visual{
    /*position: relative;*/
    /*top: 80px;*/
    height: 750px;
    text-transform: uppercase;
}
.visualCon{ /*width: 1170px;*/ }
.visualCon .visualText{
    position: absolute;
    top: 150px;
}
.visualText h2{
    font-size: 170px;
}
.visualText .txt1{
    font-family: 'GmarketSansLight', sans-serif;
    font-size: 82px;
    letter-spacing: 10px;
    line-height: 1.4;
    margin: 20px 0 10px 0;
}
.visualText .txt2{
    font-family: 'GmarketSansLight', sans-serif;
    font-size: 40px;
    line-height: 1.7;
}

.visualCon .visualImg{}
.visualImg .pic1{
    position: absolute;
    top: 175px;
    right: 320px;
    width: 360px;
}
.visualImg .pic2{
    position: absolute;
    top: 405px;
    right: 135px;
    width: 300px;
}
.visualImg .pic3{
    position: absolute;
    top: 200px;
    right: 215px;
    width: 190px;
}

.emoji{
    /*background: url("/images/emoji.png") no-repeat;*/
    /*width: 100px;*/
    /*height: 100px;*/
}
.emojiPalm{
    position: absolute;
    top: 260px;
    left: 63px;
    font-size: 115px;
    /*width: 130px;*/
    /*height: 130px;*/
    /*background-position: -300px 0;*/
    animation: shakeHand 2s linear infinite;
}
@keyframes shakeHand {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
}
.emojiGirl{
    position: absolute;
    top: 345px;
    right: 145px;
    font-size: 62px;
}
.emojiPlant{
    position: absolute;
    top: 592px;
    left: 600px;
    font-size: 48px;
}
.emojiBulb{
    position: absolute;
    top: 285px;
    right: 160px;
    font-size: 32px;
    animation: flyAni 3s linear infinite;
}


.visual .scrollDown{
    /*position: absolute;*/
    right: 50px;
    bottom: 5%;
    width: 100px;
    height: 120px;
    animation: flyAni 3s linear infinite;
}
@keyframes flyAni {
     0%{ margin-bottom: 0;}
     25%{ margin-bottom: 5px;}
     50%{ margin-bottom: 10px;}
     75%{ margin-bottom: 5px;}
     100%{ margin-bottom: 0;}
 }
.visual .scrollDown img{
    width: 100px;
    height: 100px;
}
.visual .scrollDown p{
    font-size: 0.8rem;
    text-align: center;
}


/*marquee section*/
.marquee{
    width: 100%;
    height: 270px;
    color: white;
    background: black;
    overflow: hidden;
}
.marquee h2{
    font-size: 64px;
    padding: 30px 0 45px 135px;
}
.marquee h2 span{ font-style: italic; }
.marquee .marqueeWrap{
    display: flex;
    gap: 80px;
    animation: marquee 8s linear infinite;
}

@keyframes marquee {               /*마키애니메이션*/
    0% { transform: translateX(3px); }
    100% { transform: translateX(-120%); }
}                /*일단 야매로 맞춰놓음 추후 수정 필!!!!!!!!!!!!!!!!*/

.marquee ul{
    display: flex;
    gap: 80px;
    /*border: 2px solid yellow;*/
}
.marquee ul li{
    /*width: 350px;*/
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    /*border: 2px solid red;*/
}
.marquee ul li .emoji{ font-size: 96px}

.marquee ul li .desc{
    position: relative;
}
.marquee ul li .desc p{
    text-transform: uppercase;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 36px;
}
.marquee ul li .desc span{
    position: absolute;
    top: 6px;
    right: 0;
    font-size: 24px;
}


/*project section*/
.project{
    position: relative;
    height: 600px;
}
.project .inner{}

.project h2{
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 128px;
    z-index: 99;
    white-space: nowrap;
}

.project .slideArea{
    position: absolute;
    top: 148px;
    width: 100%;
    height: 380px;

    /*border: 5px solid yellow;*/
    /*box-sizing: border-box;*/
}

.project .slideArea .arrowWrap{
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;

    /*border: 2px solid red;*/
    /*box-sizing: border-box;*/
}
.project .slideArea .arrowWrap > div{
    display: inline-block;
    font-size: 78px;
    color: black;
    cursor: pointer;
}

.project .slideArea .sliderWrap{
    position: absolute;
    width: 1270px;
    height: 380px;
    right: 0;

    border: 2px solid red;
    box-sizing: border-box;
}
.project .slideArea .sliderWrap .projectSlider .slick-slide{
    width: 560px;
    height: 380px;
    margin-right: 45px;

    border: 1px solid black;
    box-sizing: border-box;
}
.project .slideArea .sliderWrap .projectSlider .slick-slide img{ width: 100%; height: 100%; }

.project .slideArea .sliderWrap .projectSlider .slick-slide:nth-child(1){
    background: #FF9A00;
}
.project .slideArea .sliderWrap .projectSlider .slick-slide:nth-child(2){
    background: #31A8FF;
}
.project .slideArea .sliderWrap .projectSlider .slick-slide:nth-child(3){
    background: #0ACF83;
}
.project .slideArea .sliderWrap .projectSlider .slick-slide:nth-child(4){
    background: #EF6883;
}

/*contact section*/
.contact{
    position: relative;
    height: 800px;
    margin-bottom: 0;
}
.contact .textBox{
    text-align: center;
    font-family: 'NanumMyeongjo', serif;
    font-size: 92px;
    text-transform: uppercase;
}
.contact .textBox p:first-child{
    margin: 70px 0 45px 0;
}


.contact .emojiDeco{}
.contact .emojiDeco .emoji {
    position: absolute;
    background: url("/images/contactEmoji.png") no-repeat;
    width: 185px;
    height: 140px;
    z-index: -99;
}

.contact .emojiDeco .emojiPhone{
    top: 50px;
    right: 245px;
    transform: rotate(40deg);
    animation: flyAni 3s linear infinite;
}
.contact .emojiDeco .emojiEmail{
    top: 130px;
    left: 240px;
    transform: rotate(-15deg);
    background-position: -185px 0;
    animation: flyAni 1.8s linear infinite;
}
.contact .emojiDeco .emojiKakao{
    top: 265px;
    right: 360px;
    transform: rotate(15deg);
    width: 135px;
    height: 185px;
    background-position: -375px 0;
    animation: flyAni 2s linear infinite;
}
@keyframes flyAni {
    0%{ margin-top: 0;}
    50%{ margin-top: 16px;}
    100%{ margin-top: 0;}
}


.contact ul {
    margin-top: 110px;
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    align-items: center; /* 세로 방향으로 중앙 정렬 */
}

.contact ul li {
    margin: 15px 0; /* 위아래 여백 설정 */
}

.contact ul li div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 5px 85px;
    background: #9C9C9C;
    border-radius: 15px;
    /*border: 5px solid yellow;*/
}

.contact ul li div .emoji{
    font-size: 40px;
    margin-top: 5px;
}

.contact ul li div p{
    font-family: 'GmarketSansLight', sans-serif;
    font-size: 26px;
    text-transform: uppercase;
}

/*---------------------------------------------------------*/



/*.contact .contactLink{*/
/*    width: 100%;*/
/*    margin-top: 250px;*/
/*    font-size: 2.2rem;*/
/*    !*font-size: 38px;*!*/
/*    text-transform: uppercase;*/
/*}*/
/*.contact .contactLink li{ margin-bottom: 70px; }*/
/*.contact .contactLink li:after{*/
/*    content: '';*/
/*    display: block;*/
/*    width: 100%;*/
/*    height: 2px;*/
/*    background: white;*/
/*    opacity: 0;*/
/*    transition: 0.4s;*/
/*}*/
/*.contact .contactLink li:hover:after{ opacity: 1; }*/
/*.contact .contactLink li:last-child{ margin-bottom: 0; }*/
/*.contact .contactLink li strong{ align-items: center; }*/
/*.contact .contactLink li strong span{*/
/*    display: inline-block;*/
/*    width: 33px;*/
/*    height: 33px;*/
/*    font-size: 1.8rem;*/
/*    !*font-size: 30px;*!*/
/*    text-align: center;*/
/*    line-height: 37px;*/
/*    color: black;*/
/*    background: white;*/
/*    border-radius: 50%;*/
/*}*/
/*.contact .contactLink li a,*/
/*.contact .contactLink li p{*/
/*    display: inline-block;*/
/*    float: right;*/
/*}*/
/*.contact .contactLink li a img{}*/

/*!*img popup*!*/
/*.contact .imgPopup{*/
/*    position: absolute;*/
/*    right: 50%;*/
/*    top: 10px;*/
/*    transform: translateX(50%);*/
/*    width: 400px;*/
/*    opacity: 0;*/
/*    transition: 0.3s;*/
/*}*/
/*.contact .imgPopup .imgArea img{*/
/*    width: 100%;*/
/*}*/
/*.contact .imgPopup .closeArea{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    width: 35px;*/
/*    height: 35px;*/
/*    background-color: rgba(0, 0, 0, 0.25);*/
/*    cursor: pointer;*/
/*}*/
/*.contact .imgPopup .closeArea span{*/
/*    position: absolute;*/
/*    left: 0;*/
/*    top: 50%;*/
/*    display: inline-block;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: #000;*/
/*}*/

/*.contact .imgPopup .closeArea span:first-child{*/
/*    transform: rotate(45deg);*/
/*}*/
/*.contact .imgPopup .closeArea span:last-child {*/
/*    transform: rotate(-45deg);*/
/*}*/



/*goal section*/
.goal{ padding: 100px; }
.goal .quotation{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;

    font-family: 'Playfair Display',serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    color: rgb(189, 189, 189);
}

.goal .quotation .txt-2{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 0.8rem;
}
.goal > p{ font-size: 0.6rem; }
.goal .goalText{
    margin-top: 10vh;
    text-align: right;
    font-size: 0.7rem;
    font-weight: bold;
    line-height: 1.6;
}

.goal .goalText p span{ color: #ff4500; }


/*about section*/
.about .inner{ position: relative; height: 870px; }

.about .aboutArea{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.about .aboutArea .infoWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.about .aboutArea .infoWrap .aboutInfo{
    margin: 0 auto;
    font-size: 1.2rem;
}
.about .aboutArea .infoWrap .aboutInfo li{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.about .aboutArea .infoWrap .aboutInfo li:last-child{ margin-bottom: 0; }
.about .aboutArea .infoWrap .aboutInfo li strong{
    display: block;
    width: 150px;
    font-size: 1.4rem;
    font-weight: bold;
}


.about .aboutArea .infoWrap .skillImg{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.about .aboutArea .infoWrap .skillImg div{
    width: 70px;
    height: 70px;
}
.about .aboutArea .infoWrap .skillImg div img{
    width: 100%;
    height: 100%;
}

.about .aboutArea .imgWrap{
    width: 500px;
    height: 500px;
}
.about .aboutArea .imgWrap img{
    width: 100%;
}



/*반응형 미디어쿼리*/
@media (max-width: 768px) { /* tablet 반응형 */
    html{font-size: 14px;}

    .inner{ width: 600px; }
    section .scNum{ font-size: 150px; }
    section .inner .titleArea h2{ font-size: 52px; }
    .followCursor {display: none;}

    /*visual*/
    .visual{ height: 900px; }
    .visual .visualText{ bottom: 230px; }
    .visual .visualText p img{
        width: 7%;
        height: 7%;
    }
    .visual .visualText .txt-2{ margin-left: 0; }
    .visual .scrollDown{
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 70px;
    }
    .visual .scrollDown img{
        width: 50px;
        height: 50px;
    }

    /*intro*/
    .intro .introduceArea{ width: 600px; }
    .intro .introduceArea .introImg{
        width: 240px;
        height: 360px;
    }
    .intro .introduceArea .introTxt-1 .introImg{
        right: 0;
        top: 0;
    }
    .intro .introduceArea .introTxt-3 .introImg {
        left: 0;
        bottom: 0;
    }

    /*project*/
    .project{ height: 580px; }
    .project .inner{
        position: relative;
        height: 100%;
    }

    .project .titleArea .dotWrap .customDots{ font-size: 12px; }

    .project .slideArea{
        position: absolute;
        width: 600px;
        bottom: 0;
    }

    .project .slideArea .sliderWrap{
        position: relative;
        width: 600px;
        /*left: 50%;*/
        /*bottom: 0;*/
        /*transform: translateX(-50%);*/
    }
    .project .slideArea .sliderWrap .projectSlider .slick-slide{ width: 400px; }
    .project .slideArea .sliderWrap .projectSlider .slick-slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .project .sliderWrap .textBoxWrap{ width: 200px; }
    .project .sliderWrap .textBoxWrap .textBox{
        width: 200px;
        padding: 13px 10px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle{
        /*font-size: 18px;*/
        margin-bottom: 13px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle h3{ font-size: 18px; }
    .project .slideArea .textBoxWrap .textBox .desc{
        /*font-size: 14px;*/
        margin-bottom: 60px;
    }

    .project .slideArea .textBoxWrap .textBox .link a{ font-size: 12px; }

    /*goal*/
    .goal{ padding: 50px; }
    .goal .quotation{
        line-height: 1.6;
        margin-bottom: 30px;
    }
    .goal .quotation .txt-1:before{
         left: -90px;
         top: -30px;
         font-size: 80px;
     }
    .goal .quotation .txt-1:after{
        right: 240px;
        bottom: -100px;
        font-size: 80px;
    }

    /*about*/
    .about{ height: 800px; }

    .about .aboutArea{
        top: 180px;
        height: 500px;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .about .aboutArea .infoWrap{ gap: 35px; }
    .about .aboutArea .infoWrap .aboutInfo,
    /*.about .aboutArea .infoWrap .aboutInfo li strong{ font-size: 18px;}*/

    .about .aboutArea .infoWrap .skillImg{ gap: 30px; }
    .about .aboutArea .infoWrap .skillImg div{
        width: 35px;
        height: 35px;
    }
    .about .aboutArea .infoWrap .skillImg div img{
        width: 100%;
        height: 100%;
    }

    .about .aboutArea .infoWrap .aboutText{ line-height: 1.5; }
    .about .aboutArea .infoWrap .aboutText p{}

    .about .aboutArea .imgWrap{
        width: 250px;
        height: 250px;
    }

    /*contact section*/
    .contact{ height: 450px; }

    .contact .contactLink{
        /*position: absolute;*/
        /*top: 50%;*/
        margin-top: 200px;
        /*font-size: 20px;*/
    }
    .contact .contactLink li strong span{
        width: 25px;
        height: 25px;
        /*font-size: 18px;*/
        line-height: 25px;
        margin-left: 8px;
    }
    .contact .contactLink li a img,
    .contact .contactLink li p img{
        width: 15px;
        height: 15px;
    }
    .contact .imgPopup{
        width: 350px;
    }
}


@media (max-width: 430px) { /* mobile 반응형 */
    html {font-size: 12px;}

    .inner{ width: 300px; }
    section{ margin-bottom: 90px; }
    section .scNum{
        right: -18px;
        font-size: 100px;
    }
    section .inner .titleArea h2{ font-size: 32px; }

    /*visual*/
    .visual{ height: 600px; }

    /*intro*/
    .intro{ height: 500px; }
    .intro .introduceArea{
        width: 100%;
        height: 100px;
        top: 110px;
        padding: 100px 0;
    }
    .intro .introduceArea .introImg{
        width: 120px;
        height: 180px;
    }
    .intro .introduceArea .introTxt-1 .introImg{
        right: 0;
        top: 0;
    }
    .intro .introduceArea .introTxt-3 .introImg {
        left: 0;
        bottom: 0;
    }

    /*text scrolling*/
    .textRolling{
        padding: 35px 0;
        font-size: 24px;
        margin-bottom: 110px;
    }

    .textRolling .textLeft{ gap: 18px; }
    .textRolling .textLeft img{
        width: 24px;
        height: 24px;
    }

    .textRolling .textRight{
        gap: 18px;
        margin: 30px 0;
        animation: rightRolling 4s infinite linear;
    }

    /*text rolling animate*/
    @keyframes leftRolling{
        0%{ transform: translateX(0); }
        100%{ transform: translateX(-68%); }
    }
    @keyframes rightRolling{
        0%{ transform: translateX(-68%); }
        100%{ transform: translateX(0); }
    }

    /*project*/
    .project{ height: 500px; }
    .project .inner{ position: relative; }

    .project .titleArea .dotWrap .customDots{ font-size: 10px; }

    .project .slideArea{
        width: 300px;
        bottom: 0;
    }

    .project .slideArea .sliderWrap{
        position: relative;
        width: 300px;
        height: 300px;
    }
    .project .slideArea .sliderWrap .projectSlider{
        position: absolute;
        top: 0;
        width: 100%;
    }
    .project .slideArea .sliderWrap .projectSlider .slick-slide{ width: 300px; }

    .project .sliderWrap .textBoxWrap{
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        width: 100%;
        height: 140px;
    }
    .project .sliderWrap .textBoxWrap .textBox{
        width: 100%;
        padding: 10px 8px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle{
        font-size: 12px;
        margin-bottom: 13px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle h3{ font-size: 14px; }
    .project .slideArea .textBoxWrap .textBox .desc{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .project .slideArea .textBoxWrap .textBox .desc p{margin-bottom: 0}

    .project .slideArea .textBoxWrap .textBox .link a{ font-size: 12px; }

    /*goal*/
    .goal{ padding: 50px; }
    .goal .quotation{
        line-height: 1.6;
        margin-bottom: 30px;
    }
    .goal .quotation .txt-1{
        font-size: 15px;
        color: rgba(182, 182, 182, 0.8);
    }
    .goal .quotation .txt-1:before{
         left: -52px;
         top: -16px;
         font-size: 48px;
     }
    .goal .quotation .txt-1:after{
        right: 72px;
        bottom: -60px;
        font-size: 48px;
    }
    .goal .quotation .txt-2{
        font-size: 12px;
        color: rgba(182, 182, 182, 0.8);
    }

    /*about*/
    .about{ height: 600px; }

    .about .aboutArea{
        top: 150px;
        height: 400px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .about .aboutArea .infoWrap{ gap: 20px;  }
    .about .aboutArea .infoWrap .aboutInfo,
    .about .aboutArea .infoWrap .aboutInfo li strong{ font-size: 14px; }
    .about .aboutArea .infoWrap .aboutInfo li{
        display: flex;
        gap: 10px;
        margin-bottom: 18px;
    }
    .about .aboutArea .infoWrap .aboutInfo li strong{ width: 100px; }

    .about .aboutArea .infoWrap .skillImg{ gap: 20px; }
    .about .aboutArea .infoWrap .skillImg div{
        width: 25px;
        height: 25px;
    }
    .about .aboutArea .infoWrap .skillImg div img{
        width: 100%;
        height: 100%;
    }

    .about .aboutArea .infoWrap .aboutText{ line-height: 1.5; }
    .about .aboutArea .infoWrap .aboutText p{}

    .about .aboutArea .imgWrap{
        width: 200px;
        height: 200px;
    }
    .about .aboutArea .imgWrap img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*contact section*/
    .contact{ height: 450px; }

    .contact .contactLink{
        /*position: absolute;*/
        /*top: 50%;*/
        margin-top: 200px;
        font-size: 16px;
    }
    .contact .contactLink li strong span{
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .contact .contactLink li a img,
    .contact .contactLink li p img{
        width: 12px;
        height: 12px;
    }
}
