@import url(common.css);

body{ font-family: 'Pretendard-Regular', sans-serif; }

main.dark{ background-color: #000; color: #fff; }
main.dark .project .textBox{ color: #000; }
a { text-decoration: none; color: inherit; font-family: inherit; }
.inner { width: 1200px; margin: 0 auto; overflow: hidden; }

/*follow cursor 이벤트*/
.followCursor{
    position: fixed;
    left: 0;
    top: 0;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff4500ff;
    transition: 120ms;
    mix-blend-mode: difference;
    pointer-events: none;
    z-index: 9999;
}

/*main*/
section{ margin-bottom: 150px; overflow: hidden; }

/*section index*/
section .scNum{
    position: absolute;
    right: -25px;
    top: 0;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 220px;
    -webkit-text-stroke: 2px rgba(182, 182, 182, 0.4);
    color: transparent;
}
section .inner .titleArea{
    position: absolute;
    left: 0;
    top: 42px;
    margin-bottom: 80px;
}
section .inner .titleArea h2{
    text-transform: uppercase;
    font-family: 'Playfair Display',serif;
    font-size: 64px;
    font-weight: bold;
    margin-bottom: 20px;
}
section .inner .titleArea h2 span{ color: #ff4500ff; }

/*visual section*/
.visual{
    position: relative;
    height: 100vh;
    background: black;
    text-transform: uppercase;
    color: white;
}

.visual .visualText{
    position: absolute;
    left: 50px;
    bottom: 68px;
    font-family: 'Playfair Display',serif;
    font-size: 10vw;
}
.visual .visualText .txt-1 span{
    font-size: 2vw;
    color: #ff4500ff;
}
.visual .visualText .txt-2{ margin-left: 185px; }

.visual .visualText p img{ animation: rotateImg 3s linear infinite; }
@keyframes rotateImg{
    100% { transform: rotate(360deg);}
}

.visual .scrollDown{
    position: absolute;
    right: 50px;
    bottom: 5%;
    width: 100px;
    height: 120px;
    animation: flyAni 3s linear infinite;
}
@keyframes flyAni {
     0%{ margin-bottom: 0;}
     25%{ margin-bottom: 5px;}
     50%{ margin-bottom: 10px;}
     75%{ margin-bottom: 5px;}
     100%{ margin-bottom: 0;}
 }
.visual .scrollDown img{
    width: 100px;
    height: 100px;
}
.visual .scrollDown p{
    font-size: 1.2vw;
    text-align: center;
}

/*intro section*/
.intro .inner{ position: relative; height: 800px; }

.intro .introduceArea{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 200px 0;
    font-family: 'Playfair Display', serif;
    font-size: 2.5vw;
    text-transform: uppercase;
    text-align: center;
}
.intro .introduceArea > div{ margin-bottom: 28px; }

.intro .introduceArea .introImg{
    position: absolute;
    width: 320px;
    height: 480px;
    background: gray;
    opacity: 0;
    transition: 0.5s;
    z-index: -9999;
}
.intro .introduceArea .introImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro .introduceArea .introTxt-1 p span{
    position: relative;
    padding: 5px 5px 0 5px;
    color: #ff4500ff;
}
.intro .introduceArea .introTxt-1 p span:after{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    width: 0;
    height: 2px;
    background: rgba(255, 69, 0, 0.6);
    transition: 0.8s;
}
.intro .introduceArea .introTxt-1:hover p span:after{
    width: 100%;
    background: rgba(255, 69, 0, 1);
}
.intro .introduceArea .introTxt-1:hover .introImg{ opacity: 1; }
.intro .introduceArea .introTxt-1 .introImg{
    right: -210px;
    top: 0;
}

.intro .introduceArea .introTxt-3{ margin-bottom: 0; }
.intro .introduceArea .introTxt-3 span{ position: relative; }
.intro .introduceArea .introTxt-3 span:after{
    content: '';
    position: absolute;
    display: block;
    right: 0;
    width: 0;
    height: 2px;
    background: #a4a4a4;
    transition: 0.8s;
}
.intro .introduceArea .introTxt-3:hover span:after{
    width: 100%;
    background: rgb(0, 0, 0);
}
.intro .introduceArea .introTxt-3 .introImg {
    left: -170px;
    bottom: 0;
}


/*text scrolling*/
.textRolling{
    padding: 150px 0;
    width: 100%;
    max-width:100%;
    font-size: 48px;
    text-transform: uppercase;
    overflow-x: hidden;
    overflow-y: hidden;
}
.textRolling .textLeft{
    width: 100%;
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    white-space: nowrap;
    animation: leftRolling 6s infinite linear;
}
.textRolling .textLeft div {
    display: flex;
    vertical-align: middle;
}
.textRolling .textLeft img{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.textRolling .textRight{
    display: flex;
    gap: 54px;
    margin: 50px 0;
    white-space: nowrap;
    font-family: 'Playfair Display', serif;
    animation: rightRolling 6s infinite linear;
}

/*text rolling animate*/
@keyframes leftRolling{
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}
@keyframes rightRolling{
    from { transform: translateX(-40%); }
    to { transform: translateX(0); }
}


/*project section*/
.project .inner{ position: relative; height: 820px; }

.project .titleArea .dotWrap .customDots{
    display: flex;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
}
.project .titleArea .dotWrap .customDots li{
    margin-right: 20px;
    cursor: pointer;
}
.project .titleArea .dotWrap .customDots li:last-child{ margin-right: 0; }
.project .titleArea .dotWrap .customDots li.slick-active{ color: #ff4500ff; }
.project .titleArea .dotWrap .customDots li button{ display: none; }

.project .slideArea{
    position: absolute;
    bottom: 0;
}

.project .slideArea .arrowWrap{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #696969;
}
.project .slideArea .arrowWrap > div{ cursor: pointer; }
.project .slideArea .arrowWrap .prevArrow:before{
    content: "";
    display: inline-block;
    margin: 0 8px 4px 0;
    width: 34px;
    height: 2px;
    background: #808080;
}
.project .slideArea .arrowWrap .nextArrow:after{
    content: "";
    display: inline-block;
    margin: 0 0 4px 8px;
    width: 34px;
    height: 2px;
    background: #808080;
}

.project .slideArea .sliderWrap{
    position: relative;
    width: 1200px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}
.project .slideArea .sliderWrap .projectSlider .slick-slide{ width: 800px; }
.project .slideArea .sliderWrap .projectSlider .slick-slide img{ width: 100%; height: 100%; }

.project .sliderWrap .textBoxWrap{
    position: absolute;
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    right: 0;
    top: 0;
    background: white;
    font-family: 'Pretendard-Regular', sans-serif;
}
.project .sliderWrap .textBoxWrap .textBox{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    box-sizing: border-box;
    visibility: hidden;
    background-color: rgba(255, 69, 0, 0.03);
}
.project .slideArea .textBoxWrap .textBox.active{ visibility: visible; }
.project .sliderWrap .textBoxWrap .textBox .textTitle{
    display: flex;
    justify-content: space-between;
    font-size: 32px;
    margin-bottom: 65px;
}
.project .sliderWrap .textBoxWrap .textBox .textTitle h3{ text-transform: capitalize; }
.project .slideArea .textBoxWrap .textBox .textTitle .projectNum{
    font-family: 'Nanum Myeongjo', serif;
    color: #ff4500ff;
}
.project .slideArea .textBoxWrap .textBox .desc{
    line-height: 1.5;
    margin-bottom: 130px;
}
.project .slideArea .textBoxWrap .textBox .desc p{
    margin-bottom: 18px;
}

/*delay animation*/
.project .slideArea .textBoxWrap .textBox .textTitle,
.project .slideArea .textBoxWrap .textBox .desc,
.project .slideArea .textBoxWrap .textBox .desc p,
.project .slideArea .textBoxWrap .textBox .link{
    transform: translateX(30px);
    opacity: 0;
}
.project .slideArea .textBoxWrap .textBox.active .textTitle,
.project .slideArea .textBoxWrap .textBox.active .desc,
.project .slideArea .textBoxWrap .textBox.active .desc p,
.project .slideArea .textBoxWrap .textBox.active .link{
    transform: translateX(0);
    opacity: 1;
    transition: 0.6s;
}
.project .slideArea .textBoxWrap .textBox.active .textTitle{transition-delay: 0s;}
.project .slideArea .textBoxWrap .textBox.active .desc p:first-child{ transition-delay: 0.2s; }
.project .slideArea .textBoxWrap .textBox.active .desc p:nth-child(2){ transition-delay: 0.3s; }
.project .slideArea .textBoxWrap .textBox.active .desc p:last-child{ transition-delay: 0.4s; }
.project .slideArea .textBoxWrap .textBox.active .link{ transition-delay: 0.6s;}

.project .slideArea .progressWrap{
    margin: 20px auto 0;
    width: 75%;
    height: 6px;
    border-radius: 5px;
    background: #fff1e9;
}
.project .slideArea .progressWrap .progressBar{
    height: 100%;
    border-radius: 5px;
    background: #ff4500ff;
    transition: 1s;
}

/*goal section*/
.goal{ padding: 100px; }
.goal .quotation{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;
    font-family: 'Playfair Display',serif;
    font-size: 3vw;
    font-weight: bold;
    line-height: 1.4;
    text-transform: uppercase;
    color: rgba(182, 182, 182, 0.3);
}

.goal .quotation .txt-2{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 2vw;
}
.goal > p{ font-size: 1vw; }
.goal .goalText{
    margin-top: 10vh;
    text-align: right;
    font-size: 1.5vw;
    font-weight: bold;
    line-height: 1.6;
}

.goal .goalText p span{ color: #ff4500ff; }


/*about section*/
.about .inner{ position: relative; height: 870px; }

.about .aboutArea{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
.about .aboutArea .infoWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}
.about .aboutArea .infoWrap .aboutInfo{
    margin: 0 auto;
    font-size: 1.6vw;
}
.about .aboutArea .infoWrap .aboutInfo li{
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}
.about .aboutArea .infoWrap .aboutInfo li:last-child{ margin-bottom: 0; }
.about .aboutArea .infoWrap .aboutInfo li strong{
    display: block;
    width: 150px;
    font-size: 1.7vw;
    font-weight: bold;
}

.about .aboutArea .infoWrap .skillImg{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.about .aboutArea .infoWrap .skillImg div{
    width: 70px;
    height: 70px;
}
.about .aboutArea .infoWrap .skillImg div img{
    width: 100%;
    height: 100%;
}

.about .aboutArea .infoWrap .aboutText{
    font-size: 1.6vw;
    text-align: center;
}

.about .aboutArea .imgWrap{
    width: 500px;
    height: 500px;
}
.about .aboutArea .imgWrap img{
    width: 100%;
}


/*contact section*/
.contact{
    height: 550px;
    background: black;
    color: white;
    margin-bottom: 0;
}
.contact .inner{
    position: relative;
    height: 100%;
}

.contact .contactLink{
    width: 100%;
    margin-top: 250px;
    font-size: 38px;
    text-transform: uppercase;
}
.contact .contactLink li{ margin-bottom: 70px; }
.contact .contactLink li:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: white;
    opacity: 0;
    transition: 0.4s;
}
.contact .contactLink li:hover:after{ opacity: 1; }
.contact .contactLink li:last-child{ margin-bottom: 0; }
.contact .contactLink li strong{ align-items: center; }
.contact .contactLink li strong span{
    display: inline-block;
    width: 33px;
    height: 33px;
    font-size: 30px;
    text-align: center;
    line-height: 37px;
    color: black;
    background: white;
    border-radius: 50%;
}
.contact .contactLink li a,
.contact .contactLink li p{
    display: inline-block;
    float: right;
}
.contact .contactLink li a img{}

/*img popup*/
.contact .imgPopup{
    position: absolute;
    right: 50%;
    top: 10px;
    transform: translateX(50%);
    width: 400px;
    opacity: 0;
    transition: 0.3s;
}
.contact .imgPopup .imgArea img{
    width: 100%;
}
.contact .imgPopup .closeArea{
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.contact .imgPopup .closeArea span{
    position: absolute;
    left: 0;
    top: 50%;
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.contact .imgPopup .closeArea span:first-child{
    transform: rotate(45deg);
}
.contact .imgPopup .closeArea span:last-child {
    transform: rotate(-45deg);
}


/*반응형*/
/*tablet*/
@media (max-width: 768px) {
    .inner{ width: 600px; }
    section .scNum{ font-size: 150px; }
    section .inner .titleArea h2{ font-size: 52px; }
    .followCursor {display: none;}

    /*visual*/
    .visual{ height: 900px; }
    .visual .visualText{ bottom: 230px; }
    .visual .visualText p img{
        width: 7%;
        height: 7%;
    }
    .visual .visualText .txt-2{ margin-left: 0; }
    .visual .scrollDown{
        left: 50%;
        transform: translateX(-50%);
        width: 50px;
        height: 70px;
    }
    .visual .scrollDown img{
        width: 50px;
        height: 50px;
    }

    /*intro*/
    .intro .introduceArea{ width: 600px; }
    .intro .introduceArea .introImg{
        width: 240px;
        height: 360px;
    }
    .intro .introduceArea .introTxt-1 .introImg{
        right: 0;
        top: 0;
    }
    .intro .introduceArea .introTxt-3 .introImg {
        left: 0;
        bottom: 0;
    }

    /*project*/
    .project{ height: 580px; }
    .project .inner{
        position: relative;
        height: 100%;
    }

    .project .titleArea .dotWrap .customDots{ font-size: 12px; }

    .project .slideArea{
        position: absolute;
        width: 600px;
        bottom: 0;
    }

    .project .slideArea .sliderWrap{
        position: relative;
        width: 600px;
        /*left: 50%;*/
        /*bottom: 0;*/
        /*transform: translateX(-50%);*/
    }
    .project .slideArea .sliderWrap .projectSlider .slick-slide{ width: 400px; }
    .project .slideArea .sliderWrap .projectSlider .slick-slide img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .project .sliderWrap .textBoxWrap{ width: 200px; }
    .project .sliderWrap .textBoxWrap .textBox{
        width: 200px;
        padding: 13px 10px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle{
        font-size: 18px;
        margin-bottom: 13px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle h3{ font-size: 18px; }
    .project .slideArea .textBoxWrap .textBox .desc{
        font-size: 14px;
        margin-bottom: 60px;
    }

    .project .slideArea .textBoxWrap .textBox .link a{ font-size: 12px; }

    /*goal*/
    .goal{ padding: 50px; }
    .goal .quotation{
        line-height: 1.6;
        margin-bottom: 30px;
    }
    .goal .quotation .txt-1:before{
         left: -90px;
         top: -30px;
         font-size: 80px;
     }
    .goal .quotation .txt-1:after{
        right: 240px;
        bottom: -100px;
        font-size: 80px;
    }

    /*about*/
    .about{ height: 800px; }

    .about .aboutArea{
        top: 180px;
        height: 500px;
        flex-direction: column-reverse;
        gap: 50px;
    }
    .about .aboutArea .infoWrap{ gap: 35px; }
    .about .aboutArea .infoWrap .aboutInfo,
    .about .aboutArea .infoWrap .aboutInfo li strong{ font-size: 18px;}

    .about .aboutArea .infoWrap .skillImg{ gap: 30px; }
    .about .aboutArea .infoWrap .skillImg div{
        width: 35px;
        height: 35px;
    }
    .about .aboutArea .infoWrap .skillImg div img{
        width: 100%;
        height: 100%;
    }

    .about .aboutArea .infoWrap .aboutText{ line-height: 1.5; }
    .about .aboutArea .infoWrap .aboutText p{}

    .about .aboutArea .imgWrap{
        width: 250px;
        height: 250px;
    }

    /*contact section*/
    .contact{ height: 450px; }

    .contact .contactLink{
        /*position: absolute;*/
        /*top: 50%;*/
        margin-top: 200px;
        font-size: 20px;
    }
    .contact .contactLink li strong span{
        width: 25px;
        height: 25px;
        font-size: 18px;
        line-height: 25px;
        margin-left: 8px;
    }
    .contact .contactLink li a img,
    .contact .contactLink li p img{
        width: 15px;
        height: 15px;
    }
    .contact .imgPopup{
        width: 350px;
    }
}
/*mobile*/
@media (max-width: 430px) {
    .inner{ width: 300px; }
    section{ margin-bottom: 90px; }
    section .scNum{
        right: -18px;
        font-size: 100px;
    }
    section .inner .titleArea h2{ font-size: 32px; }

    /*visual*/
    .visual{ height: 600px; }

    /*intro*/
    .intro{ height: 500px; }
    .intro .introduceArea{
        width: 100%;
        height: 100px;
        top: 110px;
        padding: 100px 0;
    }
    .intro .introduceArea .introImg{
        width: 120px;
        height: 180px;
    }
    .intro .introduceArea .introTxt-1 .introImg{
        right: 0;
        top: 0;
    }
    .intro .introduceArea .introTxt-3 .introImg {
        left: 0;
        bottom: 0;
    }

    /*text scrolling*/
    .textRolling{
        padding: 35px 0;
        font-size: 24px;
        margin-bottom: 110px;
    }

    .textRolling .textLeft{ gap: 18px; }
    .textRolling .textLeft img{
        width: 24px;
        height: 24px;
    }

    .textRolling .textRight{
        gap: 18px;
        margin: 30px 0;
        animation: rightRolling 4s infinite linear;
    }

    /*text rolling animate*/
    @keyframes leftRolling{
        0%{ transform: translateX(0); }
        100%{ transform: translateX(-68%); }
    }
    @keyframes rightRolling{
        0%{ transform: translateX(-68%); }
        100%{ transform: translateX(0); }
    }

    /*project*/
    .project{ height: 500px; }
    .project .inner{ position: relative; }

    .project .titleArea .dotWrap .customDots{ font-size: 10px; }

    .project .slideArea{
        width: 300px;
        bottom: 0;
    }

    .project .slideArea .sliderWrap{
        position: relative;
        width: 300px;
        height: 300px;
    }
    .project .slideArea .sliderWrap .projectSlider{
        position: absolute;
        top: 0;
        width: 100%;
    }
    .project .slideArea .sliderWrap .projectSlider .slick-slide{ width: 300px; }

    .project .sliderWrap .textBoxWrap{
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        width: 100%;
        height: 140px;
    }
    .project .sliderWrap .textBoxWrap .textBox{
        width: 100%;
        padding: 10px 8px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle{
        font-size: 12px;
        margin-bottom: 13px;
    }
    .project .sliderWrap .textBoxWrap .textBox .textTitle h3{ font-size: 14px; }
    .project .slideArea .textBoxWrap .textBox .desc{
        font-size: 12px;
        margin-bottom: 10px;
    }
    .project .slideArea .textBoxWrap .textBox .desc p{margin-bottom: 0}

    .project .slideArea .textBoxWrap .textBox .link a{ font-size: 12px; }

    /*goal*/
    .goal{ padding: 50px; }
    .goal .quotation{
        line-height: 1.6;
        margin-bottom: 30px;
    }
    .goal .quotation .txt-1{
        font-size: 15px;
        color: rgba(182, 182, 182, 0.8);
    }
    .goal .quotation .txt-1:before{
         left: -52px;
         top: -16px;
         font-size: 48px;
     }
    .goal .quotation .txt-1:after{
        right: 72px;
        bottom: -60px;
        font-size: 48px;
    }
    .goal .quotation .txt-2{
        font-size: 12px;
        color: rgba(182, 182, 182, 0.8);
    }

    /*about*/
    .about{ height: 600px; }

    .about .aboutArea{
        top: 150px;
        height: 400px;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .about .aboutArea .infoWrap{ gap: 20px;  }
    .about .aboutArea .infoWrap .aboutInfo,
    .about .aboutArea .infoWrap .aboutInfo li strong{ font-size: 14px; }
    .about .aboutArea .infoWrap .aboutInfo li{
        display: flex;
        gap: 10px;
        margin-bottom: 18px;
    }
    .about .aboutArea .infoWrap .aboutInfo li strong{ width: 100px; }

    .about .aboutArea .infoWrap .skillImg{ gap: 20px; }
    .about .aboutArea .infoWrap .skillImg div{
        width: 25px;
        height: 25px;
    }
    .about .aboutArea .infoWrap .skillImg div img{
        width: 100%;
        height: 100%;
    }

    .about .aboutArea .infoWrap .aboutText{ line-height: 1.5; }
    .about .aboutArea .infoWrap .aboutText p{}

    .about .aboutArea .imgWrap{
        width: 200px;
        height: 200px;
    }
    .about .aboutArea .imgWrap img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*contact section*/
    .contact{ height: 450px; }

    .contact .contactLink{
        /*position: absolute;*/
        /*top: 50%;*/
        margin-top: 200px;
        font-size: 16px;
    }
    .contact .contactLink li strong span{
        width: 20px;
        height: 20px;
        font-size: 14px;
        line-height: 20px;
    }
    .contact .contactLink li a img,
    .contact .contactLink li p img{
        width: 12px;
        height: 12px;
    }
}
