@import url("../css/common.css");


body{ font-family: 'Pretendard-Regular', sans-serif; }

a{ text-decoration: none; }

*{
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: normal;
    font-size: inherit;
}

body{
    background-color: #080424;
    color: white;
}

section{
    /*padding: 85px;*/
    /*box-sizing: border-box;*/
    margin-bottom: 150px;
}

.inner{
    width: 1200px;
    margin: 0 auto;
}
section h2{
    font-size: 48px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
}

/*main*/
.titleWrap{
    margin-top: 100px;
}
.titleWrap .inner{
    position: relative;
}
.titleWrap img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.titleWrap .deemed{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 120px;
    background: rgba(0, 0, 0, 0.8);
}
.titleWrap .deemed .title{
    font-size: 58px;
    line-height: 120px;
}

/*about section*/
.about{}
.about .aboutWrap{}
.about .aboutWrap .aboutContainer{
    border: 1px solid #F24162;
    padding: 50px 45px;
    width: 1000px;
    margin: 0 auto;
}
.about .aboutWrap .aboutContainer strong{
    font-weight: bold;
    font-size: 32px;
}
.about .aboutWrap .aboutContainer p{
    font-size: 20px;
    margin: 45px 0;
    line-height: 1.7;
}
.about .aboutWrap .aboutContainer p:last-child{
    margin-bottom: 0;
}



