@import url("../css/common.css");


body{
    font-family: 'Pretendard-Regular', sans-serif;
}

a{
    text-decoration: none;
}

*{
    margin: 0;
    padding: 0;
    color: inherit;
    font-weight: normal;
    font-size: inherit;
}




/*visual section*/


/*banner div*/


/*business section*/

